
/* Nav Section */
.navbar{
    background-color: white;
}
.btn1{
    width: 220px;
    height: 60px;
    border-radius: 8px;
    background-color: #B68C5A;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    border: none;
}


/* Banner Section */
.carousel-caption{
    bottom:180px;
    padding-left: 70px;
    padding-right: 70px;
}
.carousel-caption h1{
    font-size: 50px;
    font-family: 'EB Garamond', serif;
}
.carousel-caption p{
    font-size: 15px;
    font-weight: 500px;
}
/* .slider-btn{
    margin-top: 30px;
} */
.slider-btn input{
    width: 500px;
    height: 64px;
    border-radius: 8px;
    border: none;
    

}
.btn{
     background-color: #B68C5A;
     width: 150px;
     height: 60px;
     margin-bottom: 8px;
     border-radius: 8px;
     color: white;
     font-size: 20px;
     font-weight: 600px;
     border: none;
}
/* Legal Section */
h1, h2, h3, h4, h5{
    font-family: 'EB Garamond', serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
.bg-legal{
    background: #B68C5A;
}

@media only screen and (max-width: 767px) {
    .carousel-caption{
        bottom:0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .carousel-caption h1{
        font-size: 30px;
        font-family: 'EB Garamond', serif;
    }
    .carousel-caption p{
        font-size: 8px;
        
    }
    /* .slider-btn{
        margin-top: 30px;
    } */
    .slider-btn input{
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: none;
        
    
    }
    .btn{
         background-color: #B68C5A;
         width: 60px;
         height: 35px;
         margin-bottom: 5px;
         border-radius: 8px;
         color: white;
         font-size: 8px;
         font-weight: 600px;
         border: none;
    }
    .carousel-item img{
        width: 300px;
        height: 300px;
    }
}